/* GENERAL STYLES */

:root {
    --background-page: #EEE8E4;
    --background-section: #EFEFEF;
    --border-section: #CCCCCC;
    --background-tooltip: #DCDBDB;

    --text-default: #262626;
    --text-contrast: #EFEFEF;

    --party-republican: #DB767B;
    --party-democrat: #53AEF4;
    --party-whig: #E2DE91;
    --party-national-union: #39668C;
    --party-federalist: #96787C;
    --party-other: #A8A8A8;

    --hover: #FCF300;

    --theme-economy: #98BB95;
    --theme-war: #AA8CAD;
    --theme-border: #F7A072;
    --theme-climate: #738A7C;
    --theme-immigration: #85C7F2;
    --theme-law-crime: #D17A9E;
    --theme-guns: #909CC2;

    --similar: #A79084;
    --different: #E48D88;
}

body {
    padding-top: 60px; /* Adjusted for the fixed navbar height */
    color: var(--text-default);
}

.navbar-brand{
    padding: 1px;
    font-size: 18px;
    color: var(--text-contrast);
}

.header-quote {
    color: var(--text-contrast);;
}
.container-fluid {
    height: 100vh; /* 100% of viewport height */
    background-color: var(--background-page);
    overflow-y: auto;
}

.card {
    background-color: var(--background-section);
    border: solid 1px var(--border-section);
}

/* RACING BAR CHART */

#racing-bar-chart,
#stacked-bars-themes, #speech_heatmap {
    height: 80vh;
    width: 100%;
}

#combined-bar-container {
    height: 80vh;
    width: 100%;
}

.party-republican {
    fill: var(--party-republican);
}

.party-democrat {
    fill: var(--party-democrat);
}

.party-other {
    fill: var(--party-other);
}

/* COUNTRY MAP */

#country_mentions_map {
    height: 800px;
    width: 100%
}

img {
    max-width: 100%;
    max-height: 100%;
}

#image-header {
    width: 100vw;
    object-fit: cover;
}

.legend {
    font: 12px sans-serif;
}

.sphere {
    fill: #4242e4;
}

.country {
    fill: lightgray;
    stroke: black;
    stroke-opacity: 0.1;
}

.map-container {
    height: 600px; /* Adjusted to match #country_mentions_map height */
}

.tooltip {
    position: absolute;
    background-color: var(--background-tooltip);
    padding: 5px;
    border: 1px solid var(--border-section);
    border-radius: 5px;
    pointer-events: none;
    z-index: 999;
    visibility: hidden; /* Ensure visibility is initially set to hidden */
}
.scatter-container {
    display: none;
}

.scatter-tooltip {
    fill: black; /* Text color */
    text-anchor: middle; /* Center the text */
    pointer-events: none;
}

.scatter-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tooltip_heatmap {
    position:absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

/* BEESWARM CHART */

.theme-beeswarm {
    height: 300px;
    width: 100%;
}

.theme-beeswarm-col {
    height: 300px;
    min-width: 280px;
    width: 100%;
}

.beeswarm-chart-area {
    /*position: relative;*/
}

.beeswarm-tooltip {
    min-width: 130px;
    border-radius: 4px;
    padding: 8px 10px;
}

.beeswarm-tooltip-col {
    margin-left: 0;
    padding-left: 0;
    min-width: 130px;
    max-width: 200px;
}

/* COMMON STYLES */

.selected {
    /*stroke: black;*/
    /*stroke-width: 1px;*/
    outline: 1px solid black;
}

.war {
    fill: var(--theme-war);
}

.economy {
    fill: var(--theme-economy);
}
.border {
    fill: var(--theme-border)
}

.climate {
    fill: var(--theme-climate)
}

.immigration {
    fill: var(--theme-immigration)
}

.crime {
    fill: var(--theme-law-crime)
}

.guns {
    fill: var(--theme-guns)
}
